* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: lobster;
}

nav {
    height: 10vh;
    background: #5b78c7;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    width: 50%;
    height: 100%;
    margin-left: auto;
}

.nav-links li a {
    color: white;
    text-decoration: none;
    list-style: none;
    font-size: 1.2rem;
}

.landing {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.landing h1 {
    margin: 100px;
    font-size: 3.3rem;
    color: #ae5fce;
}

@media screen and (max-width:780px) {
    .line {
        height: 3px;
        width: 30px;
        margin: 4px;
        background: white;
    }
    nav {
        position: relative;
    }
    .hamburger {
        position: absolute;
        right: 5%;
        top: 50%;
        transform: translate(-5%, -50%);
        cursor: pointer;
        z-index: 2;
    }
    .nav-links {
        position: fixed;
        background: #5b78c7;
        height: 100vh;
        width: 100%;
        flex-direction: column;
        clip-path: circle(100px at 90% -30%);
        -webkit-clip-path: circle(100px at 90% -30%);
        transition: all 1s ease;
        pointer-events: none;
    }
    .open {
        clip-path: circle(1000px at 90% -10%);
        -webkit-clip-path: circle(1000px at 90% -10%);
        pointer-events: all;
    }
    .landing {
        flex-direction: column;
    }
    .nav-links li {
        opacity: 0;
    }
    .nav-links li a {
        font-size: 25px;
    }
    .nav-links li:nth-child(1) {
        transition: all 0.5s ease 0.2;
    }
    .nav-links li:nth-child(2) {
        transition: all 0.5s ease 0.4;
    }
    .nav-links li:nth-child(3) {
        transition: all 0.5s ease 0.6;
    }
    .nav-links li:nth-child(4) {
        transition: all 0.5s ease 0.8;
    }
    li.fade {
        opacity: 1;
    }
}